<h2>We're cooking up nutritious and delicious popped chickpea snacks for kids!</h2>
<p class="byline vagrounded">be the first to know ;]</p>
<%= form_for @user, :url => { :action => "create" } do |f| %>
  <%= f.text_field :email, :placeholder => "ENTER EMAIL", :class => "email vagrounded" %>
  <input class="submit vagrounded" name="commit" type="submit" value="snack time" />
<% end %>
<p class="byline vagrounded" style="clear:both;">*Only available in the U.S.</p>