<p class="thanks vagrounded">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
<p class="compiling vagrounded">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE NEXT DAY OR TWO</p>
<p class="go-to vagrounded">In the meantime, head to  <a href="https://www.squeakypops.com/">www.SqueakyPops.com</a></p>
<p class="again vagrounded">Thank You Again!</p>