<h2>We're cookin' up nutritious and delicious popped chickpea snacks!</h2>
<p class="byline brandon">be the first to know ;]</p>
<%= form_for @user, :url => { :action => "create" } do |f| %>
  <%= f.text_field :email, :placeholder => "ENTER EMAIL", :class => "email brandon" %>
  <input class="submit brandon" name="commit" type="submit" value="snack time" />
<% end %>